extends layout.pug

block heading
  h1 #{__('admin.dogs.award.edit')}

block content
  .row 
    .col-xs-12.inner
      .row
        .col-xs-6
          form(action=`/admin/dog/awards/${dog._id}/edit/${award._id}`, method='POST')
            include form.pug
