extends layout.pug

block heading
  h1 Add image

block content
  .row 
    .col-xs-12.inner
      .row
        .col-xs-6
          form(action=`/admin/images/dog/${dog._id}/add`, method='POST', encType='multipart/form-data')
            include form.pug
        .col-xs-6