html
  head
    title 
      block title
    link(rel='stylesheet', href='/js/vendors/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/admin.css')
  body
    block header
      include header.pug

    .container
      .row
        .col-xs-10
          block heading
        .col-xs-2.actions
          block actions
        .col-xs-12
          block content

    block scripts
      script(src='/js/vendors/jquery/dist/jquery.min.js')
      script(src='/js/vendors/ckeditor/ckeditor.js')
      script(src='/js/admin/bundle.js')