.container
  .row
    .col-xs-12
      navigation
        a(href='/admin/litters/list') #{__('admin.header.litters')}
        a(href='/admin/dog/list') #{__('admin.header.dogs')}
        a(href='/admin/dynamic-content/list') #{__('admin.header.dynamic_content')}
        a(href='/admin/award/list') #{__('admin.header.awards')}
