extends layout.pug

block heading
  h1 #{__('admin.dogs.add')}

block content
  .row 
    .col-xs-12.inner
      .row
        .col-xs-6
          form(action=`/admin/dog/create`, method='POST')
            include form.pug
        .col-xs-6