extends layout.pug

block heading
  h1 #{__('admin.dogs.edit')}

block content
  .row 
    .col-xs-12.inner
      .row
        .col-xs-6
          form(action=`/admin/dog/edit/${dog._id}`, method='POST')
            include form.pug
        .col-xs-6
          include images.pug
        if !dog.puppy
          .col-xs-6
            include awards.pug