extends layout.pug

block heading
  h1 Create litter

block content
  .row 
    .col-xs-12.inner
      .row
        .col-xs-6
          form(action=`/admin/litters/create`, method='POST')
            include form.pug
        .col-xs-6